.login_form {
  margin: auto;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 15px;
  color: white;
  border: 1px solid orange;
  border-radius: 10px;
  text-align: left;
  width: 330px;
}


.basketball_bkg {
  background-image: url("/images/basketball_bkg.png"); /* The image used */
  background-color: black; /* Used if the image is unavailable */
  height: 800px; /* You must set a specified height */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}