.leaderboard {
  /* font-size: 1.2em; */
}

.category_title {
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(206, 206, 206);
  margin-top: 0px;
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
}

tbody.leaderboard>:nth-child(2){
  background:red;
  font-size: 1.5em;
 }

 tbody.leaderboard>:nth-child(3){
  background: orange;
  font-size: 1.3em;
 }

 tbody.leaderboard>:nth-child(4){
  background: yellow;
  font-size: 1.1em;
 }

 tbody.leaderboard>:nth-child(5){
  background: rgb(24, 24, 24);
 }

 tbody.leaderboard>:nth-child(6){
  background: rgb(12, 12, 12);
  font-size: .9em;
 }


 .user_image_tiny {
  width: 20px;
  border: 1px solid rgb(29, 29, 29);
  margin: 3px 5px;
  vertical-align: middle;
}