body {
  background: black;
  color: gray;
}

.logo_large {
  font-size: 4.5em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: oblique;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.logo_small {
  font-size: 2.5em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: oblique;
}

.logo_tagline_large {
  font-size: .7em;
  margin-top: 0px;
  padding-top: 0px;
  font-weight: bold;
}

.center {
  text-align: center;
}
.text_white {
  color: white;
}

.oblique {
  font-style: oblique;
}

.text_orange {
  color: rgb(255, 123, 0);
}

.underline {
  text-decoration: underline;
  font-weight: bold;
}

.hide {
  display: none;
}