body {
  background: black;
  color: gray;
}

.logo_large {
  font-size: 4.5em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: oblique;
  margin-bottom: 0px;
  margin-top: 10px;
  padding-bottom: 0px;
}

.logo_small {
  font-size: 3.5em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: oblique;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.logo_tagline_large {
  font-size: .65em;
  margin-top: -10px;
  padding-top: 0px;
  font-weight: bold;
  color: lightgray;
}

.logo_tagline_small {
  font-size: 8px;
  margin-top: -10px;
  padding-top: 0px;
  font-weight: bold;
  font-style: oblique;
  color: gray;
}

.center {
  text-align: center;
}
.text_white {
  color: white;
}

.oblique {
  font-style: oblique;
}

.text_orange {
  color: rgb(255, 123, 0);
}

.underline {
  text-decoration: underline;
  font-weight: bold;
}

.hide {
  display: none;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.auto {
  text-align: center;
  margin: auto;
}

.noTopMargin {
  margin-top: 0px;
}

.pageViewContainer {
  padding: 10px;
}

.align_right {
  text-align: right;
}

.margin_bottom {
  margin-bottom: 10px;
}

.edit_modal {
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}