.nav {
  color: whitesmoke;
  border-bottom: 2px solid rgb(255, 123, 0);
  min-width: 400px;
  max-width: 900px;
  margin: auto;
}

.logo {
  margin-left: 5px;
}
.nav_ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  padding-inline-start: 0px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.nav_item {
  transition: all .2s ease-in-out;
  color: gray;
  font-weight: bold;
  font-style: oblique;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 10px 10px 0px 0px;
}

.nav_item:hover {
  color: #111;
  background: rgb(255, 123, 0);
}

.active {
  color: green;
}

.small_nav {
  font-size: .8em;
  padding: 2px 5px;
  border-radius: 0px 0px 5px 5px;
  margin-top: 0px;
}

a.visited {
  color: white;
}